
.card-div{
    width: 12rem;
    height: 12rem;
    position: relative;
    /* background-color: rgba(64, 224, 208, 0.568); */
    background-color: teal;
    border-radius: .3rem;
    box-shadow: 2px 2px 20px 1px #7a7a7a;;
}
.task-card-delete-icon{
    border-radius: 50%;
}
.task-card-delete-icon>button{
    border: none;
    border-radius: .2rem;
    padding: .2rem;
    background-color: goldenrod;
    color: teal;
}

.highlight{
    width: 12rem;
    height: 2rem;
    position: absolute;
    top: 10rem;
    border-radius: 0 0 .3rem .3rem;
    background-color:  #180404bd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.task-card-statuscolor{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}
.task-card-grid{
    max-width: 70rem;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}